header{
	height: 50px;
	background-color: #ffdddd;
}

#wrapper{
	height: 100px;
}

#main{
	float: left;
	width: 60%;
	background-color: #ddffdd;
}

aside{
	float: right;
	width: 30px;
	background-color: #ffddff;
}

footer{
	height: 50px;
	background-color: #ddddff;
}